
.idea/
*.iml

.vscode/

.settings
.project
.classpath

.DS_Store

# The following files are generated/updated
target/
node_modules/
frontend/generated/
package-lock.json
pnpmfile.js
pnpm-lock.yaml
.pnpmfile.cjs
tsconfig.json
types.d.ts
vite.config.ts
vite.generated.ts
